<script lang="ts"></script>

<template>
  <h1>Hello World</h1>
  <button>Reverse Message</button>
  <button>Append "!"</button>
  <a href="">A link with e.preventDefault</a>
</template>

<style></style>
