<script setup lang="ts">
import { RouterLink, RouterView } from "vue-router";
import HelloWorld from "./components/HelloWorld.vue";
import CalComponentVue from "./components/CalComponent.vue";
import HelloWorldExample from "./components/HelloWorldExample.vue";
import HandlingUserInput from "./components/HandlingUserInput.vue";
import AttributeBindings from "./components/AttributeBindings.vue";
import ConditionsAndLoops from "./components/ConditionsAndLoops.vue";
import From
</script>

<template>
  <div>
    <ConditionsAndLoops />
    <HandlingUserInput />
    <CalComponentVue />
    <HelloWorldExample />
    <AttributeBindings />
  </div>
</template>

<style scoped></style>
